In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot as plt
import seaborn as sns
import scipy.stats as stats
import sklearn
import os

import time

import sklearn.neighbors
import sklearn.svm
import sklearn.ensemble
from sklearn.model_selection import KFold

import matplotlib.pyplot as plt
import numpy as np

In [3]:
raw_data = pd.read_csv("cardio_train.csv", sep=";")
raw_data.drop('id',axis=1,inplace=True)
raw_data.age = np.round(raw_data.age/365.25,decimals=1)
raw_data.gender = raw_data.gender.replace(2,0)
raw_data.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.4,0,168,62.0,110,80,1,1,0,0,1,0
1,55.4,1,156,85.0,140,90,3,1,0,0,1,1
2,51.6,1,165,64.0,130,70,3,1,0,0,0,1
3,48.2,0,169,82.0,150,100,1,1,0,0,1,1
4,47.8,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
raw_data.to_csv("out.csv")